.movie-card {
  width: 250px;
  background: #141414;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  height: 430px;
}

.movie-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.movie-info {
  padding: 12px;
}

.movie-title {
  font-size: 16px;
  margin-bottom: 6px;
}

.movie-meta {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.language {
  font-size: 12px;
  color: #aaa;
}

.rating {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}

.ua {
  background: #2ecc71;
  color: #000;
}

.movie-extra {
  font-size: 12px;
  color: #bbb;
}
